@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&subset=latin-ext");

html,
body {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: #232323;
  font-family: Lato;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: inherit;
}

.page-wrapper {
  width: 100%;
  max-width: 1600px;
  position: relative;
}


/* ___ HEADER ___ */
.header-wrapper {
  max-width: 1600px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  padding: 16px;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.header-section-left {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: 20px;
}

.logo-container img {
  max-height: 60px;
}

.header-section-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-left: 36px;
}

.nav-mobile {
  display: none;
  background: rgba(0, 0, 0, 00.2);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  border: 1px solid rgba(255, 255, 255, 0.2);
  visibility: hidden;
}

.nav-desktop ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}

.nav-desktop ul li {
  list-style-type: none;
  margin: 0 8px;
}

.nav-desktop a {
  color: #fff;
  transition: all 0.3s;
}

.nav-desktop a:hover {
  color: #f00000;
}

.nav-desktop .menu-parent {
  position: relative;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}

.nav-desktop .menu-parent:hover {
  color: #f00000;
}
.nav-desktop .menu-parent ul {
  display: none;
  flex-direction: column;
  position: absolute;
  left: -10px;
  outline: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0;
  padding: 5px 0 0;
  background: #f00000;
  min-width: 120px;
  z-index: 110;
}

.nav-desktop .menu-parent #sub-menu-contact {
  right: 0;
  left: unset;
  width: 130px;
}

.nav-desktop .menu-parent ul li {
  padding: 0;
  margin: 0;
}
.nav-desktop .menu-parent ul a {
  padding: 5px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  display: flex;
}

.nav-desktop .menu-parent:hover ul {
  display: flex;
}

.nav-desktop .menu-parent ul a:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.call-link a {
  flex-direction: column;
}

.call-link a .phone-num {
  font-size: 1.2em;
}

/* _____ Banner Styles _____ */
.banner-slider {
  height: 80vh;
  max-height: 80vh;
}

#vid-mobile {
  display: none;
}

.slide-container {
  display: flex;
  width: 100%;
  position: relative;
  display: block;
  margin: auto;
  overflow: hidden;
}

.slide-media {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

/*Items Grid*/

.items-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.items-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: max-content;
}

.items-grid > * {
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  position: relative;
}

.span-1 {
  grid-column: auto/ span 1;
  --aspect-ratio: 1/1;
}

.span-2 {
  grid-column: auto/ span 2;
  --aspect-ratio: 2/1;
}

.span-3 {
  grid-column: auto/ span 3;
  --aspect-ratio: 2/1;
}

.span-4 {
  grid-column: auto/ span 4;
  --aspect-ratio: 4/1;
}

.span-5 {
  grid-column: auto/ span 5;
  --aspect-ratio: 5/1;
}

.span-2-2 {
  grid-column: auto/ span 2;
  grid-row: auto/ span 2;

  --aspect-ratio: 1/1;
}

.span-3-2 {
  grid-column: auto/ span 3;
  grid-row: auto/ span 2;

  --aspect-ratio: 2/1;
}

.block-style-1 {
  background-color: #181818;
  color: white;
}
.block-style-2 {
  background: #d00000;
  color: black;
}
.block-style-3 {
  background: white;
  color: #181818;
}
.block-style-4 {
  background-color: #795548;
}
.block-style-5 {
  background: navy;
  color: whitesmoke;
}

/* Specific block styling (image back ground)*/

.custom-block-1 {
  background-image: url(../images/miami@night.jpg);
  background-color: rgba(0, 0, 0, 0.45);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.custom-block-2 {
  background-image: url(../images/block-bg-2.jpg);
  background-color: #000;

  background-size: cover;
  background-repeat: no-repeat;
}

.custom-block-3 {
  background-image: url(../images/block-bg-3.jpg);
  background-color: #000;

  background-size: cover;
  background-repeat: no-repeat;
}

.custom-block-4 {
  background-image: url(../images/parallax-.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #c13827; */
  background-blend-mode: multiply;
  color: #dadada;
}

.block-contents {
  /* color: white; */
  padding: 24px;
  overflow: hidden;
  height: 100%;
  min-height: 300px;
}

.services-block-contents {
  max-width: 1600px;
  width: 100%;
  background: #232323;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 20px;
}

.services-block-contents > div {
  text-align: center;
}

.services-block-contents a {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.services-block-contents a:hover {
  color: yellow;
}

.services-block-contents ul.list-social-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-block-contents li {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.video-block {
  padding: 0;
}
.video-block-container {
  width: 100%;
  height: 100%;
}
.video-block-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* block typography */
.block-small-heading {
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.block-big-heading {
  font-size: 52px;
  margin: 0 0 30px;
  line-height: 0.85em;
}

/*QUIZ STYLES*/
.quiz-container {
  text-align: center;
  padding: 42px;
}
.quiz-container .btn {
  margin: 0 auto;
  width: auto;
  display: none;
  min-width: 100px;
  background: #121212;
  color: #dadada;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}

.btn:hover {
  color: #ffee58;
}
#opening {
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

  margin-bottom: 24px;
}
#questions {
  display: inline;
}
.question p {
  font-size: 24px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 30px;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
#demo {
  display: none;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 12px;
}

#getstarted {
  background-color: #d00000;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.question {
  display: none;
}

#goodbye {
  display: none;
}

#goodbye h4 {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*QUIZ STYLE END*/

/*Services Box*/
ul.social-list-display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
ul.social-list-display li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.testimonial-slider-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.testimonial-slider {
  height: 100%;
}

.testimonial-slider .slick-list,
.testimonial-slider .slick-track {
  height: 100%;
}

.testimonial-slide-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.testimonial-slide-container p {
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  margin: 20px;
}
/* __ CLIENTS SECTION __ */

.clients {
  padding: 40px;
  background: #232323;
}

.clients .title {
  color: #d00000;
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-style: dotted;
}

.clients-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  padding: 20px 0 0;
}

.clients-grid div {
  height: 100%;
}

.clients-grid .client {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 150px;
}

.clients-grid .client img {
  max-width: 100%;
  min-height: 50px;
}

.clients .seekedu img {
  max-height: 100px;
}
.clients .liveinfla {
  font-size: 25px;
  font-family: "Shadows Into Light", cursive;
}

.clients .clark-connections img {
  max-height: 200px;
}
.clients .daphane {
  font-size: 25px;
  font-family: "Anton", sans-serif;
}

.clients .dada img {
  max-height: 50px;
}

/* __FOOTER STYLES __ */
.footer {
  max-width: 1600px;
  width: 100%;
  background: #d00000;
  padding: 40px 40px;
  color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer > div {
  text-align: center;
  margin-bottom: 40px;
}

.footer h2 {
  margin: 0 0 12px;
  color: #232323;
}

.footer a {
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  transition: all 300ms linear;
}

.footer a:hover {
  color: yellow;
}

.social-footer {
  position: relative;
  display: block;
}
.list-social-footer li {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  width: 40px;
  height: 40px;
  display: inline-block;
}
.list-social-footer li.icon-footer a {
  font-family: "FontAwesome";
  font-size: 24px;
  line-height: 40px;
  width: 40px;
  opacity: 1;
  margin: 0;
  padding: 0;
}

/* override click styles*/

ul.slick-dots {
  position: absolute;
  display: flex !important;
  right: 0;
  bottom: 0;
  justify-content: flex-end;
  padding: 0 30px 30px;
}

ul.slick-dots li button:before {
  width: 8px;
  height: 8px;
  content: "";
  background: #fff;
  border-radius: 50%;
}

.slick-dotted.slick-slider {
  margin: 0;
}

/* MOBILE MENU STYLES */

@keyframes reveal {
  0% {
    left: -100px;
  }
  100% {
    left: 0;
  }
}

@keyframes hide {
  0% {
    left: 0;
  }
  100% {
    left: -100px;
  }
}

.left-nav {
  top: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.mobile-nav-container {
  position: absolute;
  left: -100%;
  top: 0;

  height: 100vh;
  width: 100vw;
  background: #d00000;
  position: fixed;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  z-index: 100;
  overflow-y: scroll;
}

.is-open {
  left: 0;
  animation-name: reveal;
  animation-duration: 0.3s;
}

.is-closed {
  left: -100%;
  animation-name: hide;
  animation-duration: 0.3s;
}

.mobile-nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100px;
  padding: 16px 30px 16px 16px;
  margin-bottom: 60px;
}

.mobile-nav {
  width: 100%;
  margin-bottom: 60px;
}

.mobile-nav .menu-parent {
  display: flex;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
}
.mobile-nav .menu-parent:after {
  font-family: FontAwesome;
  content: "ïƒ—";
  font-size: 50%;
  display: inline-block;
  margin-left: 10px;
  margin-bottom: 1px;
  vertical-align: middle;
  transition: transform 0.3s ease 0s;
}
.mobile-nav .menu-parent.is-expanded:after {
  transform: rotate(-180deg);
}

.mobile-nav ul > li > div {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.mobile-nav ul a {
  display: flex;
  padding: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.mobile-nav ul ul {
  padding: 12px 0;
  background: #222;
  transition: all 0.3s;
}

.mobile-nav ul ul > li > div {
  border: none;
}

.mobile-nav ul ul a {
  display: flex;
  padding: 20px;
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.mobile-nav ul.closed {
  opacity: 0;
  height: 0;
  padding: 0;
}
.mobile-nav ul.open {
  opacity: 1;
  height: auto;
}

/*MEDIA QUERIES*/
@media (max-width: 37.5em) {
  .banner-slider {
    height: 50vh;
    max-height: 50vh;
  }

  .nav-mobile {
    visibility: visible;
  }
  .nav-desktop {
    display: none;
  }
  .banner-slider {
    height: 50vh;
    max-height: 50vh;
  }

  .slide-media {
    height: 50vh;
  }

  .items-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(auto, 484px);
  }

  .span-1,
  .span-2,
  .span-3,
  .span-4,
  .span-5,
  .span-2-2,
  .span-3-2 {
    grid-column: auto/ span 1;
    --aspect-ratio: 1/1;
  }

  .block-contents {
    padding: 16px;
  }
  .video-block {
    padding: 0;
  }
  .no-clip-video {
    object-fit: contain;
  }
  .block-small-heading {
    margin: 0 0 20px;
  }

  .block-big-heading {
    font-size: 28px;
    margin: 0 0 20px;
  }

  .footer {
    grid-template-columns: 1fr;
  }

  .services-block-contents {
    grid-template-columns: 1fr;
  }

  .services-block-contents > div {
    margin-bottom: 30px;
  }

  .clients-grid {
    grid-template-columns: 1fr;
  }
}
